{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Ranga" rel="stylesheet">
<div class="container-fluid text-center" style="background: url(https://cdn2.vectorstock.com/i/1000x1000/32/41/abstract-golden-bright-light-gold-shine-burst-vector-19533241.jpg);color: lawngreen; padding: 100px 25px;">
    <h1>Idea Pitches 💡</h1>
</div>
<div class="container" style="font-family: 'Pathway Gothic One', cursive;">
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>
</div>
{%endblock%}
